@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
}

header {
  background-color: #fff; /* Change the background color */
  border-bottom: 1px solid #ddd; /* Add a subtle border */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  max-width: auto;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

nav ul.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ff0000; /* Change hover color */
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .logo {
    margin-bottom: 15px;
  }

  .menu {
    flex-direction: column;
  }

  .menu li {
    margin: 10px 0;
  }
}
